@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

*{
    --dark-1: #333533;
    --dark-2: #202020;
    --yellow-1: #FFD100;
    --yellow-2: #FFEE32;
    --grey: #D6D6D6;
    --light: #f1faee;

    --blue-1: #003566;
    --blue-2: #001D3D;
    --blue-3: #000814;

    --green-1: #386641;
    --green-2: #6a994e;
    --green-3: #a7c957;

    --red-1: #D62828;
    --orange-1: #F77F00;
    
    
    --pad: 5px;
    --mar: 5px;

    --pad-10: 10px;
    --mar-10: 10px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Sono', sans-serif;
}

body{
    background-color: var(--dark-2);
    color: var(--light);
    height: 100vh;
    width: 100vw;

    padding: 10px;
}

.form{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
}

.form .input {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
}

.form .input #todo-field{
    background-color: var(--blue-3);
    padding: var(--pad);
    margin: var(--mar);

    border: none;

    caret-color: var(--yellow-2);
    color: var(--orange-1);
    outline: none;
    border-radius: 5px;
}

.form .submit #submit-btn{
    background-color: var(--yellow-1);
    padding: var(--pad);
    margin: var(--mar);

    border: none;

    caret-color: var(--blue-1);
    outline: none;

    border-radius: 5px;
}

.todo-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: var(--mar-10);
    background-color: var(--dark-1);

    border-radius: 10px;
    
}

.todo-list .todo{
    margin: var(--mar-10);
    background-color: var(--dark-2);
    padding: var(--pad-10);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.todo-disabled{
    filter: grayscale(1);

}

.todo-disabled p{
    text-decoration: line-through;
}

.tag{
    padding: 0 5px;
    border-radius: 10px;
}

.tag-warning{
    background-color: var(--orange-1);
}

.tag-danger{
    background-color: var(--red-1);
}


.tag-success{
    background-color: var(--green-1);
}

.btn{
    padding: 3px 7px;
    border-radius: 3px;
    border: transparent;
}

.btn-red{
    background-color: var(--red-1);
    color: var(--light);
}